shapely
scikit-image
pyclipper
lmdb
tqdm
numpy<2.0,>=1.19.0
rapidfuzz
opencv-python
opencv-contrib-python
cython
Pillow
pyyaml
requests
albumentations<2.0.0
# to be compatible with albumentations
albucore<0.0.20
packaging
